body{
    background-color:rgb(49, 128, 119);

}

#label_portfolio{
    background-color: white;
    line-height: 80px;
    margin: -10px;
    text-align: center;
   
}

.list_ordenada li a{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;  
    font-size: 18px;
    text-decoration: none;  
      
    
}