body {
    background-color: white;
  
    
}



#label_portfolio {
    background-color: rgb(49, 128, 119);
    color: white;
    line-height: 80px;  
    text-align: center;
    font-weight: 100;
    font-size: 2em;


}


.list_ordenada {

    display: inline-flex;
    list-style-type: none;
    float: right;
    line-height: 50px;



}

.list_ordenada li a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 18px;
    text-decoration: none;
    margin-left: 12px;



}

#user_name {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration-color: black;
    margin-left: 2%;

}

#user_definition {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#about_user {
    font-size: 1.1em;
}

.style_1{font-size: 20px;}
.style_2{font-size: 19px;}
.style_3{font-size: 18px;}
.style_4{font-size: 17px;}


.topicos {
    font-family: sans-serif;
    color: black;
    text-decoration: underline;

}

.links_rodape {
    color: blue;
}